// main.scss
@import "variables";
@import "global";

span.prism {

  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to top, purple 0%, rgba(0, 0, 0, 0) 100%);

  -moz-transform: rotate(40deg) skew(-26deg, -28deg);
  -webkit-transform: rotate(40deg) skew(-26deg, -28deg);
  -o-transform: rotate(40deg) skew(-26deg, -28deg);
  -ms-transform: rotate(40deg) skew(-26deg, -28deg);
  transform: rotate(40deg) skew(-26deg, -28deg);
}
