<mat-toolbar color="primary">
    <span>
        <mat-icon>home</mat-icon>
        Todo App
    </span>
    <mat-list class="nav-links">
        <mat-list-item routerLink="/todos"
                       routerLinkActive="active">
            Todo list
        </mat-list-item>
        <mat-list-item routerLink="/users"
                       routerLinkActive="active">
            Users
        </mat-list-item>
        <mat-list-item routerLink="/about"
                       routerLinkActive="active">
            About
        </mat-list-item>
    </mat-list>
    <span class="navbar-spacer"></span>
    <span>Under construction</span>
</mat-toolbar>